.container {
    text-align: left;
}

.main {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 60px;
}

.scrollView {
    overflow: auto;
    width: 600px;
    height: 912px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 8px;
}
