.main {
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 912px;
}

.main_dropped {
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 912px;
    background-color: #8585AD;
}

.scrollView {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.containerLockedIngredient {
    display: flex;
    align-items: stretch;
}

.containerIngredient {
    composes: containerLockedIngredient;
    position: relative;
}

.containerIngredientDropped {
    composes: containerLockedIngredient;
    position: relative;
    background-color: #8585AD;
}

.dragIconContainer {
    align-self: center;
    position: absolute;
    left: 0;
}

.rowTotal {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.price {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.price svg {
    margin-left: 9px;
    height: 33px;
    width: 33px;
}

