.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-left: 20px;
    margin-top: 50px;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px;
}

.link {
    background-color: var(--background-alt);
    color: var(--text-inactive-color);
    text-decoration:none;
}

.active_link {
    background-color: var(--background-alt);
    color: var(--text-primary-color);
    text-decoration:none;
}

.editor {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px;
}
