.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}


.link {
    color: #7153fc;
}

.image {
    height: 60vh;
    width: auto;
    padding: 10px;
    background: transparent;
    object-fit: contain;
}
