.modal {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 40px;
    margin: auto;
    min-width: 60vw;
    max-width: 90vw;
    min-height: 60vh;
    max-height: 90vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.closeButton {
    border: none;
    outline: none;
    background-color: transparent;
}
