.links {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 350px;
    text-align: left;
}

.link {
    background-color: var(--background-alt);
    color: var(--text-inactive-color);
    text-decoration:none;
}

.active_link {
    background-color: var(--background-alt);
    color: var(--text-primary-color);
    text-decoration:none;
}

.button {
    background-color: var(--background-alt);
    color: var(--text-inactive-color);
    padding: 0;
    border: none;
    cursor: pointer;
}
