.menu {
    display: flex;
    flex-direction: row;
}

.menuItem {
    background-color: var(--background-alt);
    color: var(--text-primary-color);
    border: none;
    outline: none;
    display: flex;
    border-radius: 40px;
}

.header {
    background-color: var(--background-alt);
    color: var(--text-primary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
